.match-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
}

.movie {
  width: 400px; /* 고정 가로 */
  cursor: pointer;
}

.img-wrapper {
  position: relative;
  width: 100%; /* movie의 400px */
}

.img-wrapper img {
  width: 100%; /* 400px */
  height: 600px; /* 고정 높이 (원래대로) */
  object-fit: cover;
  display: block;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}

.movie-title {
  position: absolute;
  bottom: 20px; /* 이미지 맨 아래는 답답하니 약간 위로 */
  left: 50%;
  transform: translateX(-50%); /* 가운데 정렬 */

  color: white;
  font-weight: 900; /* 더 두껍게 */
  font-size: 35px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* 배경 없애도 잘 보이도록 그림자 */

  background: none; /* 🔥 반투명 제거 */
  padding: 0; /* 패딩 제거 */
  text-shadow: -2px -2px 4px black, 2px -2px 4px black, -2px 2px 4px black,
    2px 2px 4px black, 0px 0px 6px black;
}
