.result-container {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 50px;
  color: black;
}

.no-result {
  text-align: center;
  margin-top: 60px;
}

.winner-title {
  color: gold;
  font-size: 2rem;
}

.winner-img {
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.movie-overview {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  color: black;
}

.divider {
  margin: 40px auto;
  width: 80%;
  opacity: 0.3;
}

.recommend-title {
  font-size: 1.6rem;
  margin-top: 20px;
}

.loading-text {
  margin-top: 20px;
  color: #ccc;
}

.recommend-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.recommend-item {
  width: 150px;
  text-align: center;
}

.recommend-img {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
}

.recommend-name {
  font-size: 14px;
  margin-top: 8px;
  color: white;
}

.no-recommend {
  color: #999;
}

.restart-btn {
  margin-top: 50px;
  padding: 12px 30px;
  font-size: 18px;
  cursor: pointer;
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 30px;
}
